<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="saK3jICUPo2s9AGd5vjDeJZHdDDblIOsughU5QBN">

    <title>Track My HNT</title>
    <link rel="icon" href="/favicon.ico">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&amp;display=swap">

    <!-- Styles -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://hotspotty.net/css/app.css">

    <link rel="stylesheet" href="/css/app.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet">

    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer=""></script>
    <script src="/js/app.js" defer=""></script>
    <style type="text/css">
        /* Chart.js */
        /*
* DOM element rendering detection
* https://davidwalsh.name/detect-node-insertion
*/
        
        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99;
            }
            to {
                opacity: 1;
            }
        }
        
        .chartjs-render-monitor {
            animation: chartjs-render-animation 0.001s;
        }
        /*
* DOM element resizing detection
* https://github.com/marcj/css-element-queries
*/
        
        .chartjs-size-monitor,
        .chartjs-size-monitor-expand,
        .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
        }
        
        .chartjs-size-monitor-expand>div {
            position: absolute;
            width: 1000000px;
            height: 1000000px;
            left: 0;
            top: 0;
        }
        
        .chartjs-size-monitor-shrink>div {
            position: absolute;
            width: 200%;
            height: 200%;
            left: 0;
            top: 0;
        }
    </style>
    <style type="text/css">
        .slide-enter-active {
            transition-duration: .3s;
            transition-timing-function: ease-in
        }
        
        .slide-leave-active {
            transition-duration: .3s;
            transition-timing-function: cubic-bezier(0, 1, .5, 1)
        }
        
        .slide-enter-to,
        .slide-leave {
            max-height: 100px;
            overflow: hidden
        }
        
        .slide-enter,
        .slide-leave-to {
            overflow: hidden;
            max-height: 0
        }
    </style>
</head>

<body class="font-sans antialiased">
    <div class="min-h-screen bg-gray-100">



        <div id="myNav" class="overlay" style="    background-color: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="/">Dashboard</a>
                <a href="/hotspot">Hotspot</a>
                <a href="/hpr">Hosts / Referrals / Partners
                </a>
                <a href="/profile">Profile</a>
                <a href="/users/logout">Logout</a>
            </div>
        </div>

        <nav class="bg-white border-b border-gray-100">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                    <div class="flex">
                        <div class="flex-shrink-0 flex items-center">
                            <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Eo_circle_blue_letter-t.svg/512px-Eo_circle_blue_letter-t.svg.png" alt="Hotspotty" class="block h-9 w-auto"></a>
                        </div>
                        <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"><a href="/" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                                Dashboard
                            </a> <a href="/hotspot" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                                Hotspots
                            </a>
                            <a href="/profile" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                                Profile
                            </a>

                            <a href="/hpr" class="inline-flex items-center px-1 pt-1 border-b-2 border-indigo-400 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out">
                                Hosts / Referrals / Partners

                            </a>
                            <a href="/users/logout" class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                            Logout
                        </a>
                            <a class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
                                <div class="hidden sm:flex">
                                    <div class="relative">
                                        <div></div>
                                        <div class="fixed inset-0 z-40" style="display: none;"></div>
                                        <div class="absolute z-50 mt-2 rounded-md shadow-lg w-48 origin-top-left left-0" style="display: none;">
                                            <div class="rounded-md shadow-xs py-1 bg-white">
                                                <div>
                                                    <a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="hidden sm:flex sm:items-center sm:ml-6">
                        <div class="ml-3 relative"></div>
                    </div>
                    <div class="hidden sm:flex sm:items-center sm:ml-6">
                        <div class="ml-3 relative">
                            <div class="relative">
                                <div><button class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"><img
                                            src="https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png"
                                            alt="Nabeel khanjee" class="h-8 w-8 rounded-full object-cover"></button>
                                </div>
                                <div class="fixed inset-0 z-40" style="display: none;"></div>
                                <div class="absolute z-50 mt-2 rounded-md shadow-lg w-48 origin-top-right right-0" style="display: none;">
                                    <div class="rounded-md shadow-xs py-1 bg-white">
                                        <div class="block px-4 py-2 text-xs text-gray-400">
                                            Manage Account
                                        </div>
                                        <div><a href="/profile" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">
                                                Profile
                                            </a></div>
                                        <!---->
                                        <div class="border-t border-gray-100"></div>
                                        <!---->
                                        <form>
                                            <div><button type="submit" class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 text-left hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">
                                                    Logout
                                                </button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex items-center sm:hidden"><button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">

                            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

                            <!-- <svg
                                stroke="currentColor" fill="none" viewBox="0 0 24 24" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" class="inline-flex"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" class="hidden"></path>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </div>
            <div class="sm:hidden hidden">
                <div class="pt-2 pb-3 space-y-1">
                    <div><a href="/" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
                            Dashboard
                        </a></div>
                    <div><a href="/hotspot" class="block pl-3 pr-4 py-2 border-l-4 border-indigo-400 text-base font-medium text-indigo-700 bg-indigo-50 focus:outline-none focus:text-indigo-800 focus:bg-indigo-100 focus:border-indigo-700 transition duration-150 ease-in-out">
                            Hotspots
                        </a></div>
                    <div></div>
                </div>
                <div></div>
                <div>
                    <div>
                        <a class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out"></a>
                    </div>
                </div>
                <div class="flex mb-4 mt-4 justify-center"></div>
                <div class="pt-4 pb-1 border-t border-gray-200">
                    <div class="flex items-center px-4">
                        <div class="flex-shrink-0"><img src="https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png" alt="Nabeel khanjee" class="h-10 w-10 rounded-full"></div>
                        <div class="ml-3">
                            <div class="font-medium text-base text-gray-800">Nabeel khanjee</div>
                            <div class="font-medium text-sm text-gray-500">nabeelshakeel966@gmail.com</div>
                        </div>
                    </div>
                    <div class="mt-3 space-y-1">
                        <div><a href="/profile" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
                                Profile
                            </a></div>
                        <!---->
                        <form method="POST">
                            <div><button class="w-full text-left block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out">
                                    Logout
                                </button></div>
                        </form>
                        <!---->
                    </div>
                </div>
            </div>
        </nav>



        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                    Hosts / Referrals / Partners
                </h2>
            </div>
        </header>
        <main>
            <div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                        <div>
                            <div class="px-6 py-8 bg-white border-gray-200">
                                <div class="flex mb-4">
                                    <div class="w-1/2 h-12">
                                        <div class="text-2xl">Hosts</div>
                                    </div>
                                    <div class="w-1/2 h-12"><button id="MyBtn1" type="submit" class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:bg-blue-900 focus:shadow-outline-gray transition ease-in-out duration-150 mb-10 float-right"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mr-2 text-gray-100"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                Add new host
            </button></div>
                                </div>
                                <div linkname="">
                                    <div class="flex flex-col">
                                        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                    <!---->
                                                    <table class="min-w-full divide-y divide-gray-200">
                                                        <thead>
                                                            <tr>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Name
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Email
                                                                </th>

                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Paid (HNT)
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    To be paid (HNT)
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="bg-white divide-y divide-gray-200">
                                                            <% for(let i=0;i<host.length;i++) { %>
                                                                <tr class="hover:bg-gray-50">
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <%= host[i].name %>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <%= host[i].email %>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <div class="text-sm font-bold text-gray-500">
                                                                            <%= host[i].paid %>
                                                                        </div>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <div class="text-sm font-bold text-gray-500">
                                                                            <%= host[i].toBePaid %>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-10 ml-10 mt-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="px-6 pb-8 pt-2 bg-white border-gray-200">
                                <div class="flex mb-4">
                                    <div class="w-1/2 h-12">
                                        <div class="text-2xl">Referrals</div>
                                    </div>
                                    <div class="w-1/2 h-12"><button id="MyBtn2" type="submit" class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:bg-blue-900 focus:shadow-outline-gray transition ease-in-out duration-150 mb-10 float-right"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mr-2 text-gray-100"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                Add new referral
            </button></div>
                                </div>
                                <div>
                                    <div class="flex flex-col">
                                        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                    <!---->
                                                    <table class="min-w-full divide-y divide-gray-200">
                                                        <thead>
                                                            <tr>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Name
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Email
                                                                </th>


                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Paid (HNT)
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    To be paid (HNT)
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="bg-white divide-y divide-gray-200">
                                                            <% for(let i=0;i<referral.length;i++) { %>
                                                                <tr class="hover:bg-gray-50">
                                                                    <td class="px-6 py-4 text-gray-500 whitespace-no-wrap">
                                                                        <%= referral[i].name %>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <%= referral[i].email %>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <div class="text-sm font-bold text-gray-900">
                                                                            <%= referral[i].paid %>
                                                                        </div>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <div class="text-sm font-bold text-gray-900">
                                                                            <%= referral[i].toBePaid %>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mr-10 ml-10 mt-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="px-6 pb-8 pt-2 bg-white border-gray-200">
                                <div class="flex mb-4">
                                    <div class="w-1/2 h-12">
                                        <div class="text-2xl">Partners</div>
                                    </div>
                                    <div class="w-1/2 h-12"><button id="MyBtn3" type="submit" class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:bg-blue-900 focus:shadow-outline-gray transition ease-in-out duration-150 mb-10 float-right"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mr-2 text-gray-100"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                Add new partner
            </button></div>
                                </div>
                                <div linkname="">
                                    <div class="flex flex-col">
                                        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                    <!---->
                                                    <table class="min-w-full divide-y divide-gray-200">
                                                        <thead>
                                                            <tr>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Name
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Email
                                                                </th>
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    Paid (HNT)
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                    To be paid (HNT)
                                                                </th>
                                                                <th class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="bg-white divide-y divide-gray-200">
                                                            <tr class="hover:bg-gray-50">
                                                                <% for(let i=0;i<partner.length;i++) { %>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <%= partner[i].name  %>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <%= partner[i].email  %>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <div class="text-sm font-bold text-gray-900">
                                                                            <%= partner[i].paid  %>
                                                                        </div>
                                                                    </td>
                                                                    <td class="px-6 py-4 whitespace-no-wrap text-gray-500">
                                                                        <div class="text-sm font-bold text-gray-900">
                                                                            <%= partner[i].toBePaid  %>
                                                                        </div>
                                                                    </td>

                                                                    <% } %>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="v-portal" style="display: none;"></div>
                            <div class="v-portal" style="display: none;"></div>
                            <div class="v-portal" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="vue-portal-target">
            <div id="MyModal1" class="fixed top-0 inset-x-0 px-4 pt-6 sm:px-0 sm:flex sm:items-top sm:justify-center" style="display: none;">
                <div class="fixed inset-0 transform transition-all" style="">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <div id="myModal" class="modal bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-2xl" style="">
                    <div class="px-6 py-4">
                        <div class="text-lg">
                            Add new Host
                        </div>
                        <div class="mt-4">
                            <p>Add the user information that will be used this host.</p>

                            <div>
                                <div class="mt-4">
                                    <form method="POST" action="http://trackmyhnt.com/host">


                                        <div class="mt-4">
                                            <div class="col-span-6 sm:col-span-4"><label class="block font-medium text-sm text-gray-700" for="referral_name"><span>Name</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" name="name" id="referral_name" type="text"
                                                    autocomplete="name">
                                                <div class="mt-2" style="display: none;">
                                                    <p class="text-sm text-red-600">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-span-6 sm:col-span-4 mt-4">
                                                <label class="block font-medium text-sm text-gray-700" for="referral_email"><span>Email</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_email" name="email" type="email">
                                                <div class="mt-2" style="display: none;">
                                                    <p class="text-sm text-red-600">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-span-6 sm:col-span-4 mt-4"><label class="block font-medium text-sm text-gray-700" for="referral_hnt_address"><span>HNT Address</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_hnt_address" name="hntAddress"
                                                    type="text"></div>
                                            <div class="col-span-6 sm:col-span-4 mt-4"><label class="block font-medium text-sm text-gray-700" for="referral_phone"><span>Mobile Number</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_phone" type="text"
                                                    name="mobile"></div>
                                            <div class="mt-2" style="display: none;">
                                                <p class="text-sm text-red-600">

                                                </p>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <p class="text-center font-bold"></p>
                                            <p class="text-blue-500 text-center font-bold"></p>
                                            <div class="text-center font-bold">
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="flex mt-6"><label class="flex items-center"><span
                                                class="ml-2 text-gray-300 text-sm">
                                                
                                            </span></label></div>
                                        <div class="mt-2" style="display: none;">
                                            <p class="text-sm text-blue-600">

                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-6 py-4 bg-gray-100 text-right">
                        <div><button type="button" class="close1 inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">Close</button>
                            <button type="submit" class=" inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:bg-blue-900 focus:shadow-outline-gray transition ease-in-out duration-150 ml-2">
                                Add 
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="MyModal2" class="fixed top-0 inset-x-0 px-4 pt-6 sm:px-0 sm:flex sm:items-top sm:justify-center" style="display: none;">
                <div id="" class="fixed inset-0 transform transition-all" style="">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>

                <div id="myModal" class="modal bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-2xl" style="">
                    <div class="px-6 py-4">
                        <div class="text-lg">
                            Add new Referral
                        </div>
                        <div class="mt-4">
                            <p>Add the user information that will be used this referral.</p>

                            <div>
                                <div class="mt-4">
                                    <form method="POST" action="http://trackmyhnt.com/referral">


                                        <div class="mt-4">
                                            <div class="col-span-6 sm:col-span-4"><label class="block font-medium text-sm text-gray-700" for="referral_name"><span>Name</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_name" type="text" name="name"
                                                    autocomplete="name">
                                                <div class="mt-2" style="display: none;">
                                                    <p class="text-sm text-red-600">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-span-6 sm:col-span-4 mt-4">
                                                <label class="block font-medium text-sm text-gray-700" for="referral_email"><span>Email</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_email" type="email" name="email">
                                                <div class="mt-2" style="display: none;">
                                                    <p class="text-sm text-red-600">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-span-6 sm:col-span-4 mt-4"><label class="block font-medium text-sm text-gray-700" for="referral_hnt_address"><span>HNT Address</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_hnt_address" type="text"
                                                    name="hntAddress"></div>
                                            <div class="col-span-6 sm:col-span-4 mt-4"><label class="block font-medium text-sm text-gray-700" for="referral_phone"><span>Mobile Number</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_phone" type="text"
                                                    name="mobile"></div>
                                            <div class="mt-2" style="display: none;">
                                                <p class="text-sm text-red-600">

                                                </p>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <p class="text-center font-bold"></p>
                                            <p class="text-blue-500 text-center font-bold"></p>
                                            <div class="text-center font-bold">
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="flex mt-6"><label class="flex items-center"><span
                                                class="ml-2 text-gray-300 text-sm">
                                                
                                            </span></label></div>
                                        <div class="mt-2" style="display: none;">
                                            <p class="text-sm text-blue-600">

                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-6 py-4 bg-gray-100 text-right">
                        <div><button type="button" class="close2 inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">Close</button>
                            <button type="submit" class=" inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:bg-blue-900 focus:shadow-outline-gray transition ease-in-out duration-150 ml-2">
                                Add 
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="MyModal3" class="fixed top-0 inset-x-0 px-4 pt-6 sm:px-0 sm:flex sm:items-top sm:justify-center" style="display: none;">
                <div class="fixed inset-0 transform transition-all" style="">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>

                <div id="myModal" class="modal bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-2xl" style="">
                    <div class="px-6 py-4">
                        <div class="text-lg">
                            Add new Partner
                        </div>
                        <div class="mt-4">
                            <p>Add the user information that will be used this Partner.</p>

                            <div>
                                <div class="mt-4">
                                    <form method="POST" action="http://trackmyhnt.com/partner">


                                        <div class="mt-4">
                                            <div class="col-span-6 sm:col-span-4"><label class="block font-medium text-sm text-gray-700" for="referral_name"><span>Name</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_name" type="text" autocomplete="name"
                                                    name="name">
                                                <div class="mt-2" style="display: none;">
                                                    <p class="text-sm text-red-600">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-span-6 sm:col-span-4 mt-4">
                                                <label class="block font-medium text-sm text-gray-700" for="referral_email"><span>Email</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_email" type="email" name="email">
                                                <div class="mt-2" style="display: none;">
                                                    <p class="text-sm text-red-600">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-span-6 sm:col-span-4 mt-4"><label class="block font-medium text-sm text-gray-700" for="referral_hnt_address"><span>HNT Address</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_hnt_address" type="text"
                                                    name="hntAddress"></div>
                                            <div class="col-span-6 sm:col-span-4 mt-4"><label class="block font-medium text-sm text-gray-700" for="referral_phone"><span>Mobile Number</span></label> <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="referral_phone" type="text"
                                                    name="mobile"></div>
                                            <div class="mt-2" style="display: none;">
                                                <p class="text-sm text-red-600">

                                                </p>
                                            </div>
                                        </div>

                                        <div class="mt-2">
                                            <p class="text-center font-bold"></p>
                                            <p class="text-blue-500 text-center font-bold"></p>
                                            <div class="text-center font-bold">
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="flex mt-6"><label class="flex items-center"><span
                                                class="ml-2 text-gray-300 text-sm">
                                                
                                            </span></label></div>
                                        <div class="mt-2" style="display: none;">
                                            <p class="text-sm text-blue-600">

                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-6 py-4 bg-gray-100 text-right">
                        <div><button type="button" class="close3 inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">Close</button>
                            <button type="submit" class=" inline-flex items-center px-4 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:bg-blue-900 focus:shadow-outline-gray transition ease-in-out duration-150 ml-2">
                                Add 
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed top-0 inset-x-0 px-4 pt-6 sm:px-0 sm:flex sm:items-top sm:justify-center" style="display: none;">
                <div class="fixed inset-0 transform transition-all" style="display: none;">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>
                <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-2xl" style="display: none;">
                    <div class="px-6 py-4">
                        <div class="text-lg"></div>
                        <div class="mt-4">
                            <p>We have been working very hard to add value and help the helium community, your support allow us to write code and improve the network.</p> <br>
                            <div class="flex justify-center mt-4"><img src="/images/qrcode.png"></div>
                            <div class="flex justify-center mt-4 hidden md:block">
                                <p class="text-center">14496bkcZrrF2BxmsRCmwBJYiqf16bSawKqoEo8od98s26EXZon</p>
                            </div>
                            <div class="flex justify-center mt-4"><button value="1" class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-700 active:bg-blue-900 focus:outline-none focus:bg-blue-900 focus:shadow-outline-gray transition ease-in-out duration-150 mb-10 float-right"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                copy wallet address
            </button></div>
                        </div>
                    </div>
                    <div class="px-6 py-4 bg-gray-100 text-right"><button type="button" class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">Close</button></div>
                </div>
            </div>
        </div>
        <div class="v-portal" style="display: none;"></div>
        <footer class="bg-white">
            <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
                <div class="flex justify-center space-x-6 md:order-2">
                    <a href="mailto:trackmyhnt@gmail.com" class="text-gray-400 hover:text-gray-500"><span class="sr-only">Email</span> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76"></path></svg></a>
                    <a href="https://twitter.com/trackmyh" target="_blank" class="text-gray-400 hover:text-gray-500"><span class="sr-only">Twitter</span> <svg fill="currentColor" viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6"><path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path></svg></a></div>
                <div class="mt-8 md:mt-0 md:order-1">
                    <p class="text-center text-base text-gray-400">
                         2021 TrackMyHNT
                    </p>
                </div>
            </div>
        </footer>
    </div>



    <!-- Global site tag (gtag.js) - Google Analytics -->


    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-21RSP2T54D');
    </script>
    <script src="../public/js/main.js"></script>
    <script>
        // console.log(rewardDiv.length());
        var host = '<%- JSON.stringify(host) %>';


        // Get the modal
        var modal1 = document.getElementById("MyModal1");

        // Get the button that opens the modal
        var btn1 = document.getElementById("MyBtn1");
        console.log(btn1);
        console.log(modal1);


        // Get the <span> element that closes the modal
        var span1 = document.getElementsByClassName("close1")[0];

        // When the user clicks the button, open the modal 
        btn1.onclick = function() {
            modal1.style.display = "";
        }

        // When the user clicks on <span> (x), close the modal
        span1.onclick = function() {
            modal1.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal1) {
                modal1.style.display = "none";
            }
        }

        // console.log(rewardDiv.length());


        // Get the modal
        var modal2 = document.getElementById("MyModal2");

        // Get the button that opens the modal
        var btn2 = document.getElementById("MyBtn2");
        console.log(btn2);
        console.log(modal2);



        // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close2")[0];

        // When the user clicks the button, open the modal 
        btn2.onclick = function() {
            modal2.style.display = "";
        }

        // When the user clicks on <span> (x), close the modal
        span2.onclick = function() {
            modal2.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
        }

        // console.log(rewardDiv.length());


        // Get the modal
        var modal3 = document.getElementById("MyModal3");

        // Get the button that opens the modal
        var btn3 = document.getElementById("MyBtn3");

        // Get the <span> element that closes the modal
        var span3 = document.getElementsByClassName("close3")[0];

        // When the user clicks the button, open the modal 
        btn3.onclick = function() {
            modal3.style.display = "";
            console.log("fire");
        }

        // When the user clicks on <span> (x), close the modal
        span3.onclick = function() {
            modal3.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal3) {
                modal3.style.display = "none";
            }
        }
    </script>

</body>

</html>